.EditRawMaterial {
  .rows {
    display: grid;
    row-gap: 2rem;
  }

  .general {
    padding-bottom: 1.5rem;

    h1 {
      padding-bottom: 1rem;
    }

    .image-wrapper {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 2rem;
    }

    .column-wrapper {
      display: grid;
      row-gap: 1rem;
    }

    .button {
      height: 50px;
      width: 50px;
      border-radius: 12px;
    }

    .field-add-wrapper {
      display: grid;
      grid-template-columns: 12fr 1fr;
      column-gap: 0.5rem;
    }

    .column-1 {
      display: grid;
    }

    .column-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
    }

    .column-3 {
      display: grid;
      grid-template-columns: 0.4fr 1fr 1fr;
      column-gap: 1.5rem;
    }
  }

  .facts {
    h2 {
      padding-bottom: 1rem;
    }

    .rows {
      row-gap: 1rem;
    }

    .column-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 1.5rem;
    }
  }
}
