.LoginPage {
  overflow: hidden;

  .background {
    background: url("../../images/login_image.png") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .logo-container {
    text-align: center;
    position: absolute;
    top: 87vh;
    width: 100%;

    .logo {
      width: 12rem;
      height: auto;
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    height: 100vh;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    line-height: normal;
    font-size: 40px;
  }

  .logo {
    display: none;
  }

  @media (min-width: 600px) {
    .header {
      font-size: 55px;
    }
  }

  @media (min-width: 1000px) {
    h2 {
      text-align: left;
    }

    .main-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-template-rows: none;
      row-gap: 2rem;
    }

    .logo {
      display: inline;
    }
  }

  @media (min-width: 1366px) {
    h2 {
      text-align: left;
      font-size: 72px;
    }

    .main-container {
      display: flex;
      flex-direction: row;
      column-gap: 5rem;
    }

    .header-container {
      padding-right: 3rem;
    }
  }
}
