/* Button Styling */
.edit-button {
  padding: 13px;
  width: 16px;
  height: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  outline: none;
}

.filter-position {
  display: flex;
  justify-content: flex-end;
}

.reset-position {
  display: flex;
  justify-content: center;
}

.table-filter-button {
  border-radius: 4px;
}

.table-search {
  border-radius: 4px;
  width: 300px;
}

.create-button-position {
  display: flex;
  justify-content: left;
  padding-left: 1rem;
}

.table-create-button {
  border-radius: 4px;
}

/* Table Styling */
.raw-material-table {
  border-radius: 4px;
  background: white;
  padding: 16px 16px 0 16px;
  /*   padding: 24px 24px 0 24px; */
  box-shadow: 0px 16px 16px rgba(17, 17, 17, 5%);
  overflow-x: auto;
}

.sub-header-table {
  padding-left: 1rem;
  font-weight: 500;
  color: #777777;
}

.main-header-table {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 4px;
}

.expand-button {
  padding-right: 1rem;
}

/* Responsive Styling */
@media (min-width: 960px) {
  .ant-table {
    font-size: 12px;
  }

  .ant-table-thead > tr > th {
    font-size: 12px;
  }

  .sub-header-table {
    font-size: 12px;
  }

  .table-search {
    width: 350px;
  }
  .table-header-position {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .table-header-position {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1366px) {
  .ant-table {
    font-size: 14px;
  }

  .ant-table-thead > tr > th {
    font-size: 14px;
  }

  .sub-header-table {
    font-size: 14px;
  }

  .table-search {
    width: 450px;
  }

  .table-header-position {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr 1fr 1fr;
    align-items: center;
  }
}
