/* Makes space between header and field */
.header-field-wrapper {
  display: grid;
  row-gap: 0.5rem;
}

/* Input Field */
.input-text {
  padding: 0.85rem 1rem 0.85rem 1rem;
  border-radius: 12px;
  width: 100%;
}

/* Input Number */
.input-number {
  padding: 0.85rem 1rem 0.85rem 1rem;
  border-radius: 12px;
  width: 100%;
}

.ant-input-number-input {
  padding: 0;
  height: 25px;
}

.ant-input-number-handler-wrap {
  border-radius: 12px;
}

/* List Selection */
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  display: flex;
  align-items: center;
  height: 53px;
  border-radius: 12px;
  width: 100%;
  padding: 0.85rem 1rem 0.85rem 1rem;
}

/* Arrow Icon for List Selection */
.ant-select-arrow {
  padding-right: 1.4rem;
  font-size: 1rem;
}

/* Date Picker */
.input-date {
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 12px;
}
