/* Card Component */
.card {
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 2%);
  height: 10.5rem;
  position: relative;
}

.card-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-items: left;
}

/* Icon Components */
.card-header {
  font-weight: 500;
  font-size: 14px;
  color: #777777;
  margin-right: 5rem;
}

.card-value {
  font-weight: 600;
  font-size: 26px;
  color: #404040;
}

/* Icons */
.icon-material {
  font-size: 22px;
  display: none;
  color: #00bdf2;
}

.icon-expired {
  font-size: 22px;
  display: none;
  /*   color: #eb5757; */
  color: #ff0000;
}

.icon-progress {
  font-size: 22px;
  display: none;
  /*   color: #f2c94c; */
  color: #ffdd00;
}

.icon-finished {
  font-size: 22px;
  display: none;
  /*   color: #29cc97; */
  color: #8dc63f;
}

/* Icon Backgrounds */
.icon-material-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background: #2f80ed1a;
}

.icon-expired-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background: #eb57571a;
}

.icon-progress-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background: #ffd2401a;
}

.icon-finished-background {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background: #29cc971a;
}

/* Divider */
.divider {
  margin: 2rem 0 5px 0;
}

@media (min-width: 0px) {
  .card-header {
    font-size: 12px;
  }
}

@media (min-width: 765px) {
  .card-header {
    font-size: 14px;
  }
}

/* When the Icon reaches border, remove icons */
@media (min-width: 1240px) {
  .card-header {
    font-size: 14px;
  }

  .card-value {
    font-size: 26px;
  }

  .divider {
    margin: 1rem 0 5px 0;
  }

  .icon-material-background {
    width: 45px;
    height: 45px;
  }

  .icon-expired-background {
    width: 45px;
    height: 45px;
  }
  .icon-progress-background {
    width: 45px;
    height: 45px;
  }
  .icon-finished-background {
    width: 45px;
    height: 45px;
  }
  .divider {
    margin: 2rem 0 5px 0;
  }

  .icon-material {
    font-size: 22px;
    display: inline;
  }

  .icon-expired {
    font-size: 22px;
    display: inline;
  }

  .icon-progress {
    font-size: 22px;
    display: inline;
  }

  .icon-finished {
    font-size: 22px;
    display: inline;
  }
}

/* Desktop */
@media (min-width: 1366px) {
  .card-header {
    font-size: 14px;
  }

  .card-value {
    font-size: 1.75rem;
  }

  .icon-material-background {
    width: 55px;
    height: 55px;
  }

  .icon-expired-background {
    width: 55px;
    height: 55px;
  }
  .icon-progress-background {
    width: 55px;
    height: 55px;
  }
  .icon-finished-background {
    width: 55px;
    height: 55px;
  }
  .divider {
    margin: 2rem 0 5px 0;
  }
}

@media (min-width: 1600px) {
  .divider {
    margin: 3rem 0 5px 0;
  }
}
