.navbar-layout {
  @media (min-width: 0px) {
    .navbar {
      background: white;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      box-shadow: 0 0 4px 4px rgb(0 0 0 / 8%);
      min-width: 100%;
      position: relative;
      top: 0;
      padding-left: 32px;
      padding-right: 62px;
    }

    .right-side {
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }

    .account-component {
      display: flex;
      justify-content: flex-end;
    }

    .dropdown-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .divider-component {
      display: flex;
      align-items: center;
      padding-right: 1.5rem;
    }

    .v-divider {
      border-left: 1px solid #0000001a;
      height: 26px;
    }

    .account-name {
      font-size: 14px;
      color: #404040;
    }

    .drawer-layout {
      text-align: left;
    }
  }

  @media (min-width: 960px) {
    .menu-button {
      display: none !important;
    }
  }
}
