/* Responsive Styling */
@media (min-width: 0px) {
  .content-header {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .material-header {
    display: grid;
  }

  .material-information {
    display: grid;
    row-gap: 1rem;
  }

  .header-information {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .item-image {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }

  .item-image .shopping-list {
    margin-bottom: 1rem;
  }

  .table-section-header {
    display: grid;
    row-gap: 0.75rem;
    overflow-x: auto;
  }

  .table-logistics {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .material-header {
    grid-template-rows: 1fr 4fr;
    column-gap: 2rem;
  }

  .material-header {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: none;
  }
}

@media (min-width: 1600px) {
  .table-logistics {
    width: 65%;
  }
}
