.material-information {
  display: grid;
  row-gap: 2rem;
}

.table-logistics {
  width: 100%;
}

.photo-frame {
  background-color: white;
  border: 25px;
  border-color: black;
  width:100%;
  height:100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.content-header {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 9.4rem; */
}

.table-section-header {
  display: grid;
  row-gap: 0.75rem;
}

/* Responsive Styling */
@media (min-width: 0px) {
  .material-header {
    display: grid;
    grid-template-rows: 1fr 4fr;
    column-gap: 1.5rem;
  }

  .item-photo {
    display: grid;
    grid-template-rows: none;
  }
}

@media (min-width: 1200px) {
  .material-header {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: none; 
  }

  .item-photo {
    row-gap: 1.5rem;
    grid-template-rows: 1fr 1.5fr;
  }
}
