.sub-header-table {
  padding-left: 1rem;
  font-weight: 500;
  color: #777777;
}

.main-header-table {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 4px;
}

.expand-button {
  padding-right: 1rem;
}

.table-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Tablets */
@media (min-width: 768px) {
  .ant-table {
    font-size: 14px;
  }

  .ant-table-thead > tr > th {
    font-size: 14px;
  }

  .sub-header-table {
    font-size: 14px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
}
