.card {
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 2%);
  height: 10.5rem;
  position: relative;
}

.card-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-items: left;
}

.icon-material-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: #2f80ed1A;
}

.icon-expired-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: #eb57571A;
}

.icon-progress-background {
  text-align: right;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: #FFD2401A;
}

.icon-finished-background {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: #29cc971A;
}

.card-header {
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  margin-right: 2rem;
}

.card-value {
  font-size: 30px;
  font-weight: 600;
  color: #404040;
}

.icon-material {
  font-size: 22px;
  color: #2f80ed;
}

.icon-expired {
  font-size: 22px;
  color: #eb5757;
}

.icon-progress {
  font-size: 22px;
  color: #f2c94c;
}
.icon-finished {
  font-size: 22px;
  color: #29cc97;
}
