.table-content{
    min-height: 394px;
}

.shopping-button{
    padding:13px;
    width:16px;
    height:16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}