.shopping-button {
  padding: 13px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table Components */
.shopping-table {
  border-radius: 4px;
  background: white;
  padding: 16px 16px 0 16px;
  /*   padding: 24px 24px 0 24px; */
  box-shadow: 0px 16px 16px rgba(17, 17, 17, 5%);
  overflow-x: auto;
}

.main-header-table {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 4px;
}

.sub-header-table {
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
}
