.shopping-button{
    padding:13px;
    width:16px;
    height:16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Table Components */
.table {
    border-radius: 12px;
    background: white;
    padding: 24px 24px 0px 24px;
    box-shadow: 0px 16px 16px rgba(17, 17, 17, 5%);
    overflow-x: auto;
  }
  
  .main-header-table {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 4px;
  }
  
  .sub-header-table {
    padding-left: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
  }