.StockInterface {
  padding-top: 1rem;
  h1 {
    padding-bottom: 1rem;
  }
  .add {
    .rows {
      display: grid;
      row-gap: 2rem;
    }

    .column-1 {
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 0.5fr 1fr;
    }

    .column-2 {
      display: grid;
      column-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
