.introduction-header {
  text-align: right;
  color: #828282;
}

.content-sub-header {
  color: #777777;
  font-weight: 500;
}

.table-wrapper {
  display: grid;
  row-gap: 2rem;
}

/* Tablets */
@media (min-width: 768px) {
  .content-sub-header {
    font-size: 14px;
  }
}

/* When Table doesn't fit the page */
@media(min-width:1300px) {
  .table-wrapper {
    grid-template-columns: 1.4fr 1fr;
    column-gap: 1rem;
  }
}

/* Desktop */
@media (min-width: 1366px) {
  .content-sub-header {
    font-size: 14px;
  }
  .table-wrapper {
    grid-template-columns: 1.3fr 1fr;
    column-gap: 1.5rem;
  }
}
