/* @import '~antd/dist/antd.less';
 */

.sidebar-header {
  display: grid;
  align-content: center;
  justify-content: center;
  height:65px;
}

.sidebar-header-text {
  color: white;
  text-align: left;
  font-size: 26px;
  font-weight: 600;
}

.sub-header-background {
  background: #fff;
}

.sidebar {
  background: #363740 !important;
  height: 100vh;
}

.ant-menu.sidebar-menu {
  font-size: 16px !important;
  margin-top: 2rem !important;
  background: #363740 !important;
}

.sidebar-item {
  height: 65px !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: rgba(221, 226, 255, 0.10);
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > span > a, .ant-menu-dark .ant-menu-item-selected > a:hover, .ant-menu-dark .ant-menu-item-selected > span > a:hover{
  color: #DDE2FF;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon{
  color:#DDE2FF;
}

.footer {
  text-align: center;
}

.sidebar-item .anticon {
  padding-right: 15px;
  padding-left: 20px;
  font-size: 16px;
}

.content {
  margin: 24px 24px 0;
}
