.background {
  height: 100vh;
  background-size: 100vw 100vh;
  background-image: url("../../images/login_image.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.logo-container {
  text-align: center;
  position: absolute;
  top: 87%;
  width: 100vw;
}

.logo {
  width: 9%;
  height: auto;
}

.main-container {
  height: 100vh;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.header-container {
  text-align: right;
  display: inline-block;
}

.header {
  line-height: normal;
  text-align: left;
  display: inline-block;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8rem;
}

.blue-text {
  color: #00bdf2;
}

.login-container {
  padding-bottom: 5rem;
  display: grid;
  align-items: center;
  justify-content: left;
  padding-left: 9rem;
}

.login-container-style {
  background-color: #ffffff;
  box-shadow: 0px 16px 8px rgba(17, 17, 17, 0.04);
  border-radius: 32px;
  width: 410px;
  height: 444px;
}

.login-header {
  text-align: left;
  padding-top: 4rem;
  padding-left: 55px;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.login-form-container {
  padding-top: 30px;
  padding-left: 55px;
}

/* For 13.3 inch screen */
@media (max-width: 1366px) {
  .background {
    overflow: hidden;
  }
  .header {
    font-size: 55px;
  }
  .login-container-style {
    width: 360px !important;
    height: 394px !important;
  }
  .login-container {
    padding-left: 8rem !important;
  }
  .login-form-container {
    padding-top: 25px;
  }
  .ant-form-item-explain.ant-form-item-explain-error{
    font-size: 12px;
  }
}
