@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-size: 1rem;
  font-weight: 400px;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #404040; /* or 4A4A4A (Tetra Pak Recommended) */
  font-family: "Montserrat", "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common Page Css */
.sidebar-header-layout {
  height: 100vh !important;
}

.content-wrapper {
  padding: 1.5rem 2rem 1.5rem;
  flex: 1;
}

.content-layout {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ant-layout {
  background: #f6f6f6;
  position: relative;
}

.footer {
  text-align: center;
  background: #f6f6f6;
}

.blue-text {
  color: #00bdf2;
}

.dark-blue-text {
  color: #023f88;
}

/* .ant-btn-primary{
  background: #00bdf2;
  border-color: #00bdf2;
}

.ant-btn-primary:hover{
  background: rgb(23, 205, 255);
  border-color: rgb(23, 205, 255);
}

.ant-btn-primary:active{
  background: rgb(23, 205, 255);
  border-color: rgb(23, 205, 255);
} */

/* Common Font Headers */
.sub-header {
  color: #777777;
  font-weight: 500;
}

/* Table */
.ant-table {
  font-weight: 400;
  color: #404040;
}

.ant-table-thead > tr > th {
  background: white;
  color: #777777;
  font-weight: 600;
}

/* Responsive Fonts */
@media (min-width: 0px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
    color: black;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    color: #404040;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #404040;
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
    color: #404040;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }
}

@media (min-width: 1366px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }
}
