@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat','Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout{
  background:  #F6F6F6;
  position: relative;
}

.blue-text {
  color: #00bdf2;
}